.clock-animation-container{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "poppins", sans-serif;
    /* background: #283747; */
    color: #fff;
    position: relative;
}

.clock{
    font-size: calc(0.5vw + 0.5vh);
    width: calc(5.25vw + 5.25vh);
    height: calc(5.25vw + 5.25vh);
    /* width: calc(5vw + 5vh);
    height: calc(5vw + 5vh); */
    /* padding: calc(1vw + 1vh); */
    /* background-color: yellow; */
    /* width: 200px;
    height: 200px; */
    /* width: 10em;
    height: 10em; */
    border-radius: 50%;
    background: #2c84d6a1;
    border: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock.sunrise{
    background-color: rgba(40, 156, 29, 0.1)
}

.clock.noon{
    background-color: rgba(58, 134, 90, 0.1)
}

.clock.sunset{
    background-color: rgba(49, 32, 231, 0.1)
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg*var(--i)));
    /* inset: 12px; */
    inset: calc(0.12vw + 0.12vh);
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
}

.clock::before{
    content: "";
    position: absolute;
    width: calc(0.1vw + 0.1vh);
    height: calc(0.1vw + 0.1vh);
    /* width: 5px;
    height: 5px; */
    border-radius: 50%;
    background: #fff;
    z-index: 2;
}

.hands{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    align-items: flex-end;

}

.hands i{
    position: absolute;
    background: #fff;
    /* width: 3px; */
    width: calc(0.075vw + 0.075vh);
    border-radius: 35px;
}

.hands.firsthand i{
    /* height: 42px; */
    height: calc(1vw + 1vh);
    background: #de3163; 
}
.hands.secondhand i{
    /* height: 47px; */
    height: calc(1.25vw + 1.25vh);
    background: #00a6ff; 
}
.hands.thirdhand i{
    /* height: 51px; */
    height: calc(1.5vw + 1.5vh);
    background: #fff; 
}

