.background-animation-container{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.background-animation {
    object-fit: fill;
    z-index: 1;
    position: absolute;
    width: 100%;
  }

.page-element-container{
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30vh;
}

.curr-page{
    display:flex;
    position: relative;
    /* flex-direction: column; */
    /* overflow: hidden; */
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

@media (min-width: 1600px) {
  .curr-page{
    overflow-x: hidden;
    overflow-y: hidden;
  }
}


@media (min-aspect-ratio: 16/9) {
    .background-animation {
      width: 100%;
    }
  }

  @media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {
    .background-animation {
      width: 135%;
    }
  }
  
  @media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
    .background-animation {
      width: 180%;
    }
  }

  @media (max-aspect-ratio: 1/1) {
    .background-animation {
      width: 240%;
    }
  }

  @media (min-aspect-ratio: 9/16) and (max-aspect-ratio: 3/4) {
    .background-animation {
      width: 315%;
    }
  }

  @media (min-aspect-ratio: 9/20) and (max-aspect-ratio: 9/16) {
    .background-animation {
      width: 395%;
    }
  }

