.solar-page-element-container{
    position: relative;
    width: 70%;
    height: 85%;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}


.solar-outer-container{
    margin-top: 5vh;
}
/* font-size: calc(0.5vw + 0.5vh);
    width: calc(5.25vw + 5.25vh);
    height: calc(5.25vw + 5.25vh); */

.solar-info-container{
    display:flex;
    width: 100%;
    /* width: calc(15.75vw + 15.75vh); */
    flex-direction: row;
    /* margin-left: auto;
    margin-right: auto; */
    /* margin-top: 2vh; */
    margin-top: calc(0.75vw + 0.75vh);
}

.solar-button-container{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.req-date{
    width: 100%;
    /* width: calc(15.75vw + 15.75vh); */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: serif;
    text-transform: capitalize;
    /* font-size: 3.5rem; */
    font-size: calc(1.45vw + 1.45vh);
    font-weight: 550;
}

.solarwatch-request-form{
    margin: auto;
    /* height: 300px; */
    height: calc(7.875vw + 7.875vh);
    /* width: 600px; */
    width: calc(15.75vw + 15.75vh);
    font-family: serif;
    position: relative;
    display: flex;
    flex-direction: column;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 25px;
    border-radius: calc(1vw + 1vh);
    justify-content:center;
    align-items: center;
}



.submitfetch-button{
    position: absolute;
    bottom: calc(0.5vw + 0.5vh);
    font-family: serif;
    /* width: 90%; */
    width: calc(14.2vw + 14.2vh);
    /* height: 40px; */
    height: calc(1.05vw + 1.05vh);
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    /* font-size: 1.6em; */
    font-size: calc(0.83vw + 0.83vh);
    font-weight: 800;
}



.city-input-box{
    position: absolute;
    left: calc(4vw + 4vh);
    top: calc(0.5vw + 0.5vh);
    /* margin: 30px 0; */
    margin: calc(0.75vw + 0.75vh) 0;
    /* margin-bottom: 50px; */
    margin-bottom: calc(1.25vw + 1.25vh);
    /* width: 310px; */
    width: calc(8.1vw + 8.1vh);
    /* border-bottom: 2px solid #ffffff; */
}



.date-input-box{
    position: absolute;
    left: calc(4vw + 4vh);
    top: calc(3vw + 3vh);
    /* margin: 30px 0; */
    margin: calc(0.75vw + 0.75vh) 0;
    /* margin-bottom: 50px; */
    margin-bottom: calc(1.25vw + 1.25vh);
    /* width: 310px; */
    width: calc(8.1vw + 8.1vh);
    border-bottom: 2px solid #fff;
}


.date-input-box label,
.city-input-box label{
    position: absolute;
    /* top: 30%; */
    top: calc(0.35vw + 0.35vh);
    left: 5px;
    color:#fff;
    /* font-size: 1.2em; */
    font-size: calc(0.45vw + 0.45vh);
}

input:focus ~ label,
input:valid ~ label{
    top: 0%;
    visibility: hidden;
}

.date-input-box input{
    /* width: 87%; */
    width: calc(7vw + 7vh);
    /* height: 40px; */
    height: calc(1.15vw + 1.15vh);
    background: transparent;
    border: none;
    /* font-size: 1.2em; */
    font-size: calc(0.45vw + 0.45vh);
    font-family: serif;
    padding: 0 35px 0 5px;
    color: #fff;
}

.city-input-box-input{
    position: inherit;
    /* width: 87%; */
    width: calc(7vw + 7vh);
    /* height: 40px; */
    height: calc(1.15vw + 1.15vh);
    background: transparent;
    border: none;
    /* font-size: 1.2em; */
    font-size: calc(0.45vw + 0.45vh);
    padding: 0 35px 0 5px;
    color: #fff;
    z-index: 3;
    text-transform: capitalize;
}

.city-input-suggestion{
    display: flex;
    /* background-color: orange; */
    font-family: sans-serif;
    align-items: center;
    color: #fff;
    position: inherit;
    /* width: calc(7vw + 7vh); */
    width: calc(8.1vw + 8.1vh);
    /* height: 40px; */
    height: calc(1.15vw + 1.15vh);
    border-bottom: 2px solid #e4e4e4b5;
    font-size: calc(0.45vw + 0.45vh);
    padding: 0 0 0 5px;
    z-index: 2;
}

.loading-div{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: url("../Assets/icons/loading.png");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}



@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}